@media only screen and (max-width: 600px) {
  * {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  *:focus {
      outline: none !important;
  }
  :root {
    --bg_overlay:rgba(0,0,0,0.65);
  }
  .mainPageBtn, .mainPageAlt {
    width:calc(100% - 2em);
  }
  .choice div {
    width:calc(100% - 100px);
    padding:25px;
    margin:25px;
  }
  .container h1 {
    font-family:"Rozha One",serif;
    font-size:3em;
    padding:0;
    margin:0;
  }
  #courseDifficulty_on {
    width:25px;
    height:25px;
  }
  .button:hover,.button:active {
    opacity:0.7;
  }
  video {
    width:100%;
  }
}