@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Rozha+One&display=swap');

@import "ani.css";

* {
  -ms-overflow-style: none;
  scrollbar-width: none; 
  font-weight: normal;
  user-select: none;
}
:root {
  /* Background */
  --bg: url("/EagleProject/images/bg.png") no-repeat fixed center center;
  --bg_overlay:rgba(0,0,0,0.85);
  --color:white;
  --colorIn:black;
  /* Other */
  --c1:#e96f0c; 
  --c2:#205765;
}
html,body {
  font-family: "Lato",sans-serif;
  margin:0;
  padding:0;
  overflow-x:hidden;
  color:var(--color);
}
button {
  background:var(--colorIn);
  color:var(--color);
  padding:3px 10px;
  border:none;
  outline:none;
  border-radius:5px;
}
.type {
  /* opacity:0.7; */
  color:var(--colorIn);
  padding:10px 20px;
  border:none;
  outline:none;
  border-radius:5px;
  display:inline-block;
  margin:10px;
}
#bg {
  position:fixed;
  z-index:-1;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: var(--bg);
  background-size:cover;
  filter: grayscale(100%);
}
#bg_overlay {
  z-index:0;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: var(--bg_overlay);
}
.container {
  position:fixed;
  top:0;
  left:0;
  z-index:1;
  height: 100vh;
  width:100vw;
  text-align:center;
  overflow-y:auto;
  /* color:var(--color); */
}
.container h1 {
  font-family:"Rozha One",serif;
  font-size:5em;
  padding:0;
  margin:0;
}
.container h2 {
  padding:0;
  margin:0;
}
.button {
  font-size:1.5em;
  padding:0.5em;
  margin:0.5em;
  border:none;
  border-radius:0.5em;
  background:var(--colorIn);
  color:var(--color);
  transition:0.2s;
  cursor:pointer;
  text-align: center;
}
.button:hover {
  opacity:0.7;
}
.hover {
  transition:0.2s;
  cursor:pointer;
}
.hover:hover {
  opacity:0.7;
}
.mainPageBtn {
  width:calc(50% - 2em);
  background:linear-gradient(-200deg, var(--c2),var(--c1));
  display:block;
  margin:20px auto;
}
.mainPageAlt {
  width:calc(50% - 2em);
  /* background:linear-gradient(-200deg, var(--c2),var(--c1));*/
  background:var(--bg_overlay);
  display:block;
  margin:20px auto;
}
.tab {
  display:none;
  padding-bottom:30px;
}
.textblock {
  width:calc(100% - 40px);
  margin:20px;
  text-align:left;
}
.textblock h3 {
  padding:20px 10px;
  background:var(--c1);
  color:var(--color);
  margin:0;
  border-radius: 10px;
  transition:0.2s;
}
.textblock p1 {
  margin:0;
  padding:20px 10px;
  background:var(--color);
  color:var(--colorIn);
  display:none;
  border-radius: 0px 0px 10px 10px;
  transition:0.2s;
  animation: fadeIn 2s;
}
video {
  display:block;
  margin:40px auto;
  border-radius:15px;
  width:calc(50%);
  height:auto;
}
#box {
  margin:30px auto;
  display:block;
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg, white 50%, #ff8800 50%);
}
.show {
  display:block;
}
.choice {
  width:100vw;
}
.choice div {
  display:inline-block;
  background:var(--c1);
  color:var(--color);
  width:calc(25% - 100px);
  padding:25px;
  margin:25px;
  border-radius:0.5em;
  transition:0.2s;
  cursor:pointer;
}
.choice div:hover {
  background:var(--color);
  color:var(--colorIn);
}
#maps {
  width:100vw;
  height:auto;
}
.mapselect {
  display:inline-block;
  position:relative;
  width:calc(40vh);
  height:30vh;
  border-radius:30px;
  margin:25px;
  box-shadow: 0px 0px 30px 0.2px var(--colorIn);
  transition: 0.2s;
}
.mapselect:hover {
  box-shadow: 0px 0px 30px 0.2px var(--c2);
  opacity:0.8;
  cursor:pointer;
}
.mapname {
  display:none;
}
.mapdiff {
  position:absolute;
  right:10px;top:10px;
  height:25px;
  width:25px;
  border-radius:100%;
}
.maplength {
  position:absolute;
  background:var(--colorIn);
  color:var(--color);
  bottom:10px;
  left:10px;
  padding:5px 10px;
  border-radius: 10px;
}
.footer {
  position:fixed;
  bottom:10px;
  display:block;
  /* width:calc(100% - 40px); */
  font-size:15px;
  background:var(--colorIn);
  color:var(--color);
  padding:5px 10px;
  left:50%;
  transform:translateX(-50%);
  border-radius: 10px;
  opacity:0.5;
}
#mapdisplay {
  margin:10px auto;
  width:50vw;
  height:auto;
  border-radius:20px;
  transition:0.2s;
  cursor:pointer;
  box-shadow: 0px 0px 30px 0.2px var(--c2);
}
#mapdisplay:hover {
  opacity:0.8;
}
#mapdetail {
  display:none;
}
/* --------------course------------- */
.control {
  font-size:65px;
  background:var(--c2);
  color:var(--color);
  width:50vw;
  display:block;
  margin:20px auto;
  border-radius:20px;
}
.time {
  
}
.distance {
  
}
.circle {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:var(--colorIn);
  color:var(--color);
  width:50vh;
  height:50vh;
  border-radius:100%;
  line-height:50vh;
  text-align:center;
  font-size:25vh;
}
.lime {
  color:lime;
}
.red {
  color:red;
}
.blue {
  color:#00eeff;
}
.grey {
  color:#bfbfbf;
}
.bgbl {
  background:var(--color) !important;
  color:var(--c1) !important;
}
.courseTable {
  border:none;
  width:100%;
  font-size: 25px;
}
.courseTable tr {
  border:none;
}
.courseTable td {
  position:relative;
}
.courseTable td span {
  background:var(--c2);
  color:var(--color);
  padding:10px 0px;
  width:calc(80%);
  display:block;
  margin:auto;
  border-radius: 25px;
}
#courseDifficulty_on {
  position:absolute;
  top:25px; right:25px;
  background:white;
  border-radius:100%;
  width:50px;
  height:50px;
}
.perm {
  position:fixed;
  bottom:0;
  left:0;
  width:calc(100% - 20px);
  padding:10px;
  background:var(--bg_overlay);
  text-align: left;
  z-index:10;
}
p {
  text-align:center;
  padding:20px;
  margin:auto;
  display:block;
  width:calc(100% - 40px);
}
#eventbanner {
  width:calc(50vw - 50px);
  padding:0;
  height:200px;
  /* height: auto; */
  margin:0px auto;
  border-radius:0.5em;
  transition:0.2s;
  cursor:pointer;
  display:none;
}
#eventbannersub {
  width:calc(50vw - 50px);
  padding:0;
  height:200px;
  /* height: auto; */
  margin:0px auto;
  border-radius:0.5em;
  transition:0.2s;
  cursor:pointer;
  display:block;
}